<html lang="en">
  <head>
    {{>header }}
  </head>
  <body>
    {{>nav}}
    <div class="note">
      <h1 id="kk" >Welcome to our site</h1>
      <h2>Please <a href="login"> Login</a> or <a href="ragister"> Register </a> to start..</h2>
    </div>
    {{>footer}}
    
  </body>
</html>