<html lang="en">
  <head>
    {{>header }}
  </head>
  <body>
    {{>nav}}
    <div class="note">
      <h1 id="kk">Welcome to our Site</h1>
      <h2>you are logged in successfully</h2>
    </div>
    {{>footer}}
    
  </body>
</html>